  <div class="app_navigation">
    <div class="row text-uppercase">
    <ul class="col-sm-12">
      <li  class="col-sm-12">
        <%= link_to(I18n.t('layout.home'), root_path) %>
      </li>
      <li  class="col-sm-12">
        <%= link_to(I18n.t('layout.introduce'), introduce_path) %>
      </li>
        <% if user_signed_in? %>
            <% if current_user.admin == 1%>
            <li class="col-sm-12">
              <%= link_to(I18n.t('layout.equipment'), controller_equipment_path) %>
            </li>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.borrow'),'/borrows') %>
            </li>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.history'),'/histories') %>
            </li>
            <li class="col-sm-12">
              <%= link_to(I18n.t('layout.add'),'/books/new') %>
            </li>
            <li class="col-sm-12">
              <%= link_to(I18n.t('layout.user'),'/users') %>
            </li>
            <% elsif  current_user.admin == 2%>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.listalluser'), '/admin/users') %>
            </li>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.logs'), "/admin/historyalls") %>
            </li>
            <% else %>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.mybook'), mybook_path) %>
            </li>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.book'), '/books') %>
            </li>
            <li  class="col-sm-12">
              <%= link_to(I18n.t('layout.acc'), profile_path) %>
            </li>
            <% end%>
            <li class="col-sm-12">
              <%= link_to(I18n.t('layout.logout'), destroy_user_session_path, method: :delete) %>
            </li>
        <% else %>
        <li class="col-sm-12">
          <%= link_to(I18n.t('layout.login'), new_user_session_path) %>
        </li>
        <% end %>
      <li class="col-sm-12">
        <%= link_to(I18n.t('layout.vietnamese'), locale:"vn") %>
      </li>
      <li class="col-sm-12">
        <%= link_to(I18n.t('layout.english'), locale:"en") %>
      </li>
    </ul>

  </div>

</div>
