<div class="container">
  <div class="form-group">
  <!-- <button type="button" name="button">Thông tin cá nhân</button>
  <button type="button" name="button">Thây đổi password</button> -->
  <h1 class="text-center"><%= t("user.edit_user")%></h1>
   <% @user.each do |u| %>
     <label for="usr"><%= t('user.email')%></label>
     <%= text_field_tag :name, params[:email], value:"#{u.email}", class: "form-control", disabled:"true", required: "required"%><br>
     <%= form_tag(update_path, method: "post") do %>
        <label for="usr"><%= t('user.code')%></label>
        <%= text_field_tag :code, params[:code], value:"#{u.code}", class: "form-control"%><br>
        <label for="usr"><%= t('user.name')%></label>
        <%= text_field_tag :name, params[:name], value:"#{u.name}", class: "form-control", required: "required"%><br>
        <label for="usr"><%= t('user.tel')%></label>
        <%= text_field_tag :tel, params[:tel], value:"#{u.tel}", class: "form-control"%><br>
        <label for="usr"><%= t('user.add')%></label>
        <%= text_field_tag :add, params[:add], value:"#{u.add}", class: "form-control"%><br>

       <%= submit_tag t('user.update'), class: "form-control btn btn-success" %><br><br>
     <% end %>
   <% end %>
  </div>
</div>
