<div class="main_content">
	<div class="baner_gioithieu">
		<h2><%= t("introduce.title")%></h2>
	</div>
</div>
<div class="thongdiep_gioithieu">
	<div class="tieude_giua">
		<h2><%= t("introduce.mes")%></h2>
	</div>
	<div class="tieude_center">
		<%= t("introduce.hello")%>
	</div>
	<div class="chitiet_gioithieu">
		<div class="img">
      <%= image_tag("dhvantai", class: "introduce_img")%>
    </div>
		<div class="messege-text">
			<p><%= t("introduce.mes1")%></p>
			<p><%= t("introduce.mes2")%></p>
			<p><%= t("introduce.mes3")%></p>
		</div>
		<div class="clear"></div>
		<div class="messege-bottom">
			<p><%= t("introduce.mes4")%><br>
			<%= t("introduce.mes5") %>
			</p>
			<p><strong><%= t("introduce.thanks")%></strong></p>
		</div>
		<div class="line_bottom"></div>
	</div>
</div>
<div class="coso_vatchat">
	<div class="tieude_coso_vatchat">
		<h2><%= t("introduce.build") %></h2>
	</div>
	<div class="noidung_coso_vatchat">
		<div class="noidung_header">
			<div class="noidung_header_title">
				<h3><%= t("introduce.build1") %></h3>
			</div>
			<div class="noidung_header_noidung">
				<p> <%= t("introduce.content11") %><br>

					 <%= t("introduce.content12") %><br>

					 <%= t("introduce.content13") %><br>
					<i>
						<b> <%= t("introduce.address1") %></b>  <%= t("introduce.content_ad1") %><br>
						<b><%= t("introduce.tel1") %></b>  <%= t("introduce.content_tel1") %>
					</i>
				</p>
			</div>
		</div>

	<div class="noidung_header" style=" margin: 0 0 0 20%;margin-top: 40px;">
			<div class="noidung_header_title">
				<h3><%= t("introduce.build2") %></h3>
			</div>
			<div class="noidung_header_noidung">
				<p> <%= t("introduce.content21") %><br>

					 <%= t("introduce.content22") %><br>

					 <%= t("introduce.content23") %><br>
					 <%= t("introduce.content24") %><br>
					<i>
						<b> <%= t("introduce.address2") %></b>  <%= t("introduce.content_ad2") %><br>
						<b><%= t("introduce.tel2") %></b>  <%= t("introduce.content_tel2") %>
					</i>
				</p>
			</div>
	</div>

	<div class="noidung_header" style="max-width: 670px;margin: 0 0 0 44%;margin-top: 40px;">
		<div class="noidung_header_title">
			<h3><%= t("introduce.build3") %></h3>
		</div>
		<div class="noidung_header_noidung">
			<p> <%= t("introduce.content31") %><br>

				 <%= t("introduce.content32") %><br>

				 <%= t("introduce.content33") %><br>
				 <%= t("introduce.content34") %><br>
				<i>
					<b> <%= t("introduce.address3") %></b>  <%= t("introduce.content_ad3") %><br>
					<b><%= t("introduce.tel3") %></b>  <%= t("introduce.content_tel3") %>
				</i>
			</p>
		</div>
	</div>

</div>
</div>

<div class="wap_lichsu">
	<div class="tieude_lichsu">
		<h2><%= t("introduce.history.title") %></h2>
	</div>
	<div class="noidung_lichsu">
		<div class="lichsu_list">
			<div class="list1">
				<p><%= t("introduce.history.list1") %></p>
			</div>
			<div class="list1">
				<p><%= t("introduce.history.list2") %></p>
			</div>
			<div class="list1">
				<p><%= t("introduce.history.list3") %></p>
			</div>
			<div class="list1">
				<p><%= t("introduce.history.list4") %></p>
			</div>
		</div>
	</div>
</div>
<div class="dichvu_thongtin">
	<div class="tieude_dichvu">
		<h2><%= t("introduce.service.title") %></h2>
	</div>
	<div class="noidung_dichvu">
		<div class="boxtitle_noidung">
			<h3><%= t("introduce.service.search") %></h3>
		</div>
		<div class="boxlist_noidung">
			<p><%= t("introduce.service.content1") %><br>
			<%= t("introduce.service.content2") %><br>
			<%= t("introduce.service.content3") %><br>

			<%= t("introduce.service.content4") %><br>

			<%= t("introduce.service.content5") %><br>

			<%= t("introduce.service.content6") %><br>

			<%= t("introduce.service.content7") %>
			</p>
		</div>
	</div>
</div>
