<div class="container_right">
  <%= render "/books/share/search_book"%>
  <h2><p><%= t("book.allbook")%></p></h2>
  <div class="clear"></div>
  <div class="row">
    <% @books.each do |book|%>
      <div class="col-sm-3">
        <div class="col-product">
          <% if new_book(@current_date,book.created_at) == true%>
          <div class="ribbon-wrapper">
            <div class="ribbon"><%= t("book.new")%></div>
          </div>
          <% end %>
					<div class="col_product1" data-toggle="tooltip" data-html ="true" data-placement="top" title="<%= book.name%>">
						<a href="/show_book_detail/<%= book.id%>"><%= convert_ckeditor(book.image) %></a>
						<p><%= book.name.truncate(20)%></p>
						<h3><%= book.author.name.truncate(15)%></h3>
						<div class="col_bottom">
							<button class="product1_bottom bor" data-id="<%= book.id%>" type="submit" name="muonsach"><%= t("book.borrow")%></button>
						</div>
					</div>
				</div>
      </div>
    <%end %>
    <div class="col align-self-center custom-pagi">
      <%= will_paginate @books, :class => "clearfix mt-4 ml-4 naviga"%>
    </div>
  </div>
</div>
