<div class="container_left">
			<div class="list_left">
				<div class="title_list">
					<h3><%= t('department.docu')%></h3>
				</div>
				<ul class="dropdown">
					<% @departments.each do |department| %>
						<li>
							<h5 class="text-light text-uppercase"><%= I18n.t("department.#{department.name}")%></h5 >
							<ul class="subiteam">
								<% @types.each do |type|%>
								<li>
									<% if type.department_id == department.id %>
										<%= link_to type.name, "/books/#{type.id}" %>
									<% end %>
								</li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="main-left">
				<div class="of-left">
					<h3>Sách nổi bật</h3>
				</div>
				<div class="product-go">
					<div class="book-gird">
						<a href=""><%= image_tag("ta")%></a>
					</div>
					<div class="book-gird1">
						<a href=""><h6>Bài tập tiếng anh</h6></a>

						<button class="bottom-book"type="submit" name="muonsach">Mượn sách</button>

					</div>
					<div class="clear"></div>
				</div>
				<div class="product-go">
					<div class="book-gird">
						<a href=""><%= image_tag("ta")%></a>
					</div>
					<div class="book-gird1">
						<a href=""><h6>Bài tập tiếng anh</h6></a>
						<button class="bottom-book"type="submit" name="muonsach">Mượn sách</button>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
