<div class="container_right">
  <div class="active-pink-3 active-pink-4 mb-4 p-2">
    <form class="form-inline d-flex md-form form-sm mt-0 search" action="">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-40" type="text" placeholder="<%=I18n.t("layout.search") %>" name="search" value="<%= @search %>">
    </form>
    <!-- <input class="form-control" id="input_book" type="text" placeholder="Search.."> -->
  </div>
  <div class="show_character">

  </div>
  <div class="clear"></div>
  <div class="row">
    <div class="col-sm-12 ml-3">
      <h3><%= @book.name%></h3>
      <%= convert_ckeditor(@book.image) %>
    </div>
    <div class="col-sm-12 text-center">
      <h3><a target="_blank" key = "<%= book.id%>" href="<%= @book.author.website%>"><%= @book.author.name%></a></h3>
    </div>
    </div>
  </div>
