<div class="container_right">
  <form class="example search" action="">
    <input type="text" placeholder="Search.." name="search" value="<%= @search %>">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <h2><p>Tất cả loại sách</p></h2>
  <div class="clear"></div>
  <div class="row">
      <div class="col-sm-3">

        <div class="col-product">
					<div class="col_product1">
						<a href="/show_book_detail/<%= @book.id%>"><%= convert_ckeditor(@book.image) %></a>
						<p><%= @book.name%></p>
						<h3><%= @book.author.name%></h3>
						<div class="col_bottom">
							<button class="product1_bottom bor" data-id="<%= @book.id%>" type="submit" name="muonsach">Mượn sách</button>
						</div>
					</div>
				</div>
      </div>
    <div class="col align-self-center custom-pagi">
    </div>
  </div>
</div>
