<div class="container_right">
  <%= render "/books/share/search_book"%>
  <div class="clear"></div>
  <div class="row">
    <div class="col-sm-12 ml-3">
      <h3><%= @book.name%></h3>
      <%= convert_ckeditor(@book.image) %>
    </div>
    <div class="col-sm-12 text-center">
      <h3><a target="_blank" key = "<%= book.id%>" href="<%= @book.author.website%>"><%= @book.author.name%></a></h3>
    </div>
  </div>
</div>
