<div class="intro">
  <div class="intro-image">
    <%= image_tag("thu1", class: "slideshow-img")%>
    <%= image_tag("background3", class: "slideshow-img")%>
    <%= image_tag("thu3",  class: "slideshow-img")%>
  </div>
  <div class="clear"></div>
</div>

<div class="gioithieu">
  <span></span>
  <div class="noidung-gioithieu">
    <div class="tieude-gioithieu">
      <h3><%= t('home.mes')%></h3>
    </div>
    <div class="mota-gioithieu">
      <p>
        <strong><%= t('home.title')%></strong><br/>
      "<%= t('home.content')%>"<br/>
      <%= t('home.content1')%>
      </p>
    </div>
    <a href=""><%= t('home.button')%></a>
  </div>
</div>
<div class="clear"></div>
    <div class="danhngon">
      <div class="slogan">
        <h3 class="slogan-text"><%= t('home.sologan')%></h3>
        <h4 class="slogan-text1"><%= t('home.sologan1')%></h4>
      </div>
    </div>
<div class="sach-index">
  <div class="wap_89">
    <div class="tieude-tintuc">
      <%= t('home.bookfamous')%>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @books.each do |book|%>
            <div class="swiper-slide">
              <div class="imgbox text-center" data-toggle="tooltip" data-html ="true" title="<%= book.name%>">
                <% if new_book(@current_date,book.created_at) == true%>
                  <div class="ribbon-wrapper">
                    <div class="ribbon"><%= t("book.new")%></div>
                  </div>
                <% end %>
                <a href="/book_detail_student/<%= book.id%>"><%= convert_ckeditor(book.image)%></a>
              </div>
              <div class="detail">
                <h3><%= book.name.truncate(27)%><br>
                <span><%= book.author.name%></span>
                </h3>
              </div>
            </div>
          <% end %>
          <!-- <div class="swiper-slide">
            <div class="imgbox">
              <a href="">  <%= image_tag("gt")%></a>
            </div>
            <div class="detail">

              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href="#"><%= image_tag("gt")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach2")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach3")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach4")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div> -->
        </div>
        <div class="swiper-pagination"></div>
     </div>
    </div>
  </div>

  <div class="video_index">
<div class="video_index_noidung">
  <div class="left_video">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/AdGs1w-4k0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="right_bangdo">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0864340382677!2d106.71477901384108!3d10.804691892302326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a40f323173%3A0x7a7006b269783a40!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaSBUUC5IQ00!5e0!3m2!1svi!2s!4v1583675522858!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
</div>
<script type="text/javascript">
  const slideshowImage = document.querySelectorAll(".intro .slideshow-img");
  const nextImageDelay = 3000;
  let currentImageCouter = 0;

  // slideshowImage[currentImageCouter].style.display = "block";
  slideshowImage[currentImageCouter].style.opacity = 1;
  setInterval(nextImage, nextImageDelay);

   function nextImage(){
    // slideshowImage[currentImageCouter].style.display = "none";
    slideshowImage[currentImageCouter].style.opacity = 0;

    currentImageCouter = (currentImageCouter + 1) % slideshowImage.length;
    // slideshowImage[currentImageCouter].style.display="block";
    slideshowImage[currentImageCouter].style.opacity = 1;

   }
</script>
