<div class="intro">
  <div class="intro-image">
    <%= image_tag("thu1", class: "slideshow-img")%>
    <%= image_tag("background3", class: "slideshow-img")%>
    <%= image_tag("thu3",  class: "slideshow-img")%>
  </div>
  <div class="clear"></div>
</div>

<div class="gioithieu">
  <span></span>
  <div class="noidung-gioithieu">
    <div class="tieude-gioithieu">
      <h3>Thông điệp</h3>
    </div>
    <div class="mota-gioithieu">
      <p>
        <strong>Chào mừng các em học sinh sinh viên, cùng toàn thể thầy cô giáo!</strong><br/>
      "Thư Viện trường Đại Học Giao Thông Vận Tải TPHCM được thành lập năm 1991 trực thuộc Phân hiệu Đại học Hàng Hải.Là một thư viện chuyên nghiệp, với mục tiêu khẳng định vị thế và chất lượng trong ngành giáo dục Việt Nam"<br/>
      Với nguồn tài chính vững chắc, hướng quản trị phù hợp, cùng đội ngũ nhân viên chuyên nghiệp, sau gần 29 năm hoạt động, chúng tôi đang dần khẳng định được vị thế và vai trò của mình đối với ngành giáo dục Việt Nam đồng thời thể hiện sự thành công tại thời điểm hiện nay...
      </p>
    </div>
    <a href="">Xem thêm</a>
  </div>
</div>
<div class="clear"></div>


    <div class="danhngon">
      <div class="slogan">
        <h3 class="slogan-text">Sách là nguồn trí thức</h3>
        <h4 class="slogan-text1">Giúp cuộc sống tốt đẹp hơn</h4>
      </div>

    </div>



<div class="sach-index">
  <div class="wap_89">
    <div class="tieude-tintuc">
      sách nổi bật trong tuần
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="imgbox">
              <a href="">  <%= image_tag("gt")%></a>
            </div>
            <div class="detail">

              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href="#"><%= image_tag("gt")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach2")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach3")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imgbox">
              <a href=""><%= image_tag("sach4")%></a>
            </div>
            <div class="detail">
              <h3>Giải tích 2<br>
            <span>Tô bá lâm</span>
              </h3>
            </div>
          </div>

        </div>

        <div class="swiper-pagination"></div>
     </div>


    </div>
  </div>

  <div class="video_index">
<div class="video_index_noidung">
  <div class="left_video">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/AdGs1w-4k0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="right_bangdo">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0864340382677!2d106.71477901384108!3d10.804691892302326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a40f323173%3A0x7a7006b269783a40!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaSBUUC5IQ00!5e0!3m2!1svi!2s!4v1583675522858!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
</div>
<script type="text/javascript">
  const slideshowImage = document.querySelectorAll(".intro .slideshow-img");
  const nextImageDelay = 3000;
  let currentImageCouter = 0;

  // slideshowImage[currentImageCouter].style.display = "block";
  slideshowImage[currentImageCouter].style.opacity = 1;
  setInterval(nextImage, nextImageDelay);

   function nextImage(){
    // slideshowImage[currentImageCouter].style.display = "none";
    slideshowImage[currentImageCouter].style.opacity = 0;

    currentImageCouter = (currentImageCouter + 1) % slideshowImage.length;
    // slideshowImage[currentImageCouter].style.display="block";
    slideshowImage[currentImageCouter].style.opacity = 1;

   }
</script>
