
<div class="clear"></div>
<div class="wap_footer">
    <div class="footer_header">
        <div class="footer_noidung">
	        <h3><%= t('footer.title')%></h3>
	        <p>"<%= t('footer.nickname')%>"<strong><%= t('footer.name')%></strong></p>

        </div>
        <div class="footer_thongtin">
            <div class="diachi_footer">
             	 <%= t('footer.address')%>
            </div>
            <div class="sdt_footer">
              	<%= t('footer.tel')%>
            </div>
            <div class="email_footer">
              <%= t('footer.email')%>: support@ut.edu.vn - pdt@ut.edu.vn
            </div>
        </div>
    </div>
  </div>

 <div class="bottom_footer">
 	<div class="bottom_footer_text">
 		<h3>2020 © THƯ VIỆN TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI TPHCM.DEVELOPED BY LỘCANDLĨNH.VN</h3>
 	</div>
 </div>
