<div class="chitietmenu">
		<div class="wap_1">
			<nav id="menu">
				<ul>
					<div class="left-menu">
						<% if user_signed_in? %>

						    <% if current_user.admin == 1%>
								<li>
									<%= link_to(I18n.t('layout.equipment'), controller_equipment_path) %>
								</li>
								<li class="menu_borrow_notice">
									<%= link_to(I18n.t('layout.borrow'), borrows_path) %>
									<small class="borrow_notice"></small>
								</li>
								<li>
									<%= link_to(I18n.t('layout.history'), histories_path) %>
								</li>


						    <% elsif  current_user.admin == 2%>
								<li>
									<%= link_to(I18n.t('layout.listalluser'), admin_users_path) %>
								</li>


						    <% else %>
								<li>
									<%= link_to(I18n.t('layout.mybook'), mybook_path) %>
								</li>
								<li class="menu_cart">
									<span class="cart"><%=I18n.t('layout.cart')%><small class="cart_size"></small></span>
								</li>
								<li>
									<%= link_to(I18n.t('layout.book'), books_path) %>
								</li>
						    <% end%>

						<% end %>
						<li>
							<%= link_to(I18n.t('layout.introduce'), introduce_path) %>
						</li>
						<li class="icon">
							<a href="<%= root_path %>">
								<i class="fa fa-home"></i>
								<%= I18n.t('layout.home')%>
							</a>
						</li>
					</div>
					<div class="center-logo blink">
						<a href="/">
              <%= image_tag("logo_bds-2730-43760")%>
						</a>
						<p id="text"><%= t('layout.library') %></p>

					</div>
					<div class="right-menu">
						<% if user_signed_in? %>
						    <% if current_user.admin == 1%>
								<li>
									<%= link_to(I18n.t('layout.add'), new_book_path) %>
								</li>
								<li>
									<%= link_to(I18n.t('layout.user'), users_path) %>
								</li>
						    <% elsif  current_user.admin == 2%>
								<li>
									<%= link_to(I18n.t('layout.logs'), admin_historyalls_path) %>
								</li>
						    <% else %>
								<li>
									<%= link_to(I18n.t('layout.acc'), profile_path) %>
								</li>
						    <% end%>
								<li>
									<%= link_to(I18n.t('layout.logout'), destroy_user_session_path, method: :delete) %>
								</li>
						<% else %>
						<li>
							<%= link_to(I18n.t('layout.login'), new_user_session_path) %>
						</li>
						<% end %>
						<li>
							<%= link_to(I18n.t('layout.vietnamese'), locale:"vn") %>
						</li>
						<li>
							<%= link_to(I18n.t('layout.english'), locale:"en") %>
						</li>
					<div class="clear"></div>

					</div>
					<div class="clear"></div>

				</ul>
				<div class="clear"></div>
			</nav>
		</div>
	</div>
